{% extends 'blog/base.html' %}

{% block content %}
	    <div class = "post">
				  {% if post.published_date %}
			        <div class = "date">
                 {{ post.published_date }}
					    </div>
					{% endif %}
					<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
					<h1>{{ post.title }}</h1>
					<p>{{ post.text|linebreaksbr }}</p>
			</div>
{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88107989-1', 'auto');
  ga('send', 'pageview');

</script>
